.gallery {
  display: grid;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.img-container {
  width: 30%;
  border: 1px solid silver;
  border-radius: 2px;
  padding: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

p {
  font-size: 1rem;
}

span {
  font-weight: bold;
}

.square {
  border-radius: 0%;
}

.round {
  border-radius: 8px;
}

.circle {
  border-radius: 50%;
}
